/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-slate-800 text-white flex justify-center items-center min-h-screen min-w-full;
}

p {
	@apply text-gray-200;
}

input {
	@apply rounded-lg bg-slate-200 text-gray-600;
}
